Repository jamrod/ssm-tool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deploy-shared-layer, deploy-ssm-paramter-tool, deploy-document-tool

Path conditions:
  lint: any of: infrastructure/*, lambdas/*/*, layers/*/*, app.py, parameter_store.json
  deploy-shared-layer: any of: layers/**/*
  deploy-ssm-paramter-tool: any of: infrastructure/ssm_parameter_tool_stack, lambdas/ssm_parameter_tool/*, layers/**/*, app.py, parameter_store.json
  deploy-document-tool: any of: infrastructure/ssm_deploy_document_stack, lambdas/ssm_deploy_document_tool/*, layers/**/*, app.py, parameter_store.json

testing
  .github/workflows/deploy.yml
  .github/workflows/detect-changes.yml
  .github/workflows/dev-deploy-document-tool.yml
  .github/workflows/dev-parameter-tool.yml
  .github/workflows/dev.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/prod-parameter-tool.yml
  .github/workflows/prod.yml
  .gitignore
  ci/assume_role.sh
Due: none

added workflows
  .github/workflows/cdk-deployments.yml
  .github/workflows/detect-changes.yml
  .github/workflows/dev-deploy-document-tool.yml
  .github/workflows/dev-parameter-tool.yml
  .github/workflows/dev.yml
  .github/workflows/document-deployments.yml
  .github/workflows/main.yml
  .github/workflows/prod-parameter-tool.yml
  .github/workflows/prod.yml
  .github/workflows/run-parameter-jobs.yml
  lambdas/ssm_deploy_document_tool/ssm_deploy_document_tool.py
Due: lint, deploy-document-tool

going to test
  .github/workflows/document-deployments.yml
  .github/workflows/lint.yml
  .github/workflows/run-parameter-jobs.yml
  .gitlab-ci.yml
Due: none

change detect_changes
  .github/workflows/detect-changes.yml
  app.py
Due: lint, deploy-ssm-paramter-tool, deploy-document-tool

added requirements-dev.txt
  .github/workflows/cdk-deployments.yml
  app.py
  requirements-dev.txt
Due: lint, deploy-ssm-paramter-tool, deploy-document-tool

test parameter job
  .github/workflows/run-parameter-jobs.yml
  jobs/parameter_tool/test.json
Due: none

test create parameter job
  jobs/parameter_tool/test.json
Due: none

limit cdk pipeline to run aon changes to relevant paths
  .github/workflows/cdk-deployments.yml
Due: none

merged workflow adds
  app.py
Due: lint, deploy-ssm-paramter-tool, deploy-document-tool

testing removing always()
  .github/workflows/cdk-deployments.yml
  .github/workflows/document-deployments.yml
  stage_parameters.json
Due: none

install requirements in document deployments
  .github/workflows/document-deployments.yml
  jobs/parameter_tool/test.json
  lambdas/ssm_parameter_tool/ssm_parameter_tool.py
  stage_parameters.json
Due: lint, deploy-ssm-paramter-tool

still testing rules
  .github/workflows/cdk-deployments.yml
  .github/workflows/document-deployments.yml
  lambdas/ssm_parameter_tool/ssm_parameter_tool.py
Due: lint, deploy-ssm-paramter-tool

remove echos from document-deployments workflow
  .github/workflows/document-deployments.yml
Due: none

annonymize
  app.py
  lambdas/ssm_deploy_document_tool/ssm_deploy_document_tool.py
  lambdas/ssm_parameter_tool/ssm_parameter_tool.py
  lambdas/ssm_run_document/ssm_run_document.py
  layers/utilities/aws/ssm_utilities.py
  scripts/create_update_document.py
  scripts/install_crowdstrike.py
  scripts/start_state_machine.py
  scripts/upload_documents.sh
  stage_parameters.json
Due: lint, deploy-shared-layer, deploy-ssm-paramter-tool, deploy-document-tool

Update README to blank acount and bucket names
  README.md
Due: none

Disable push trigger in CDK deployments workflow
  .github/workflows/cdk-deployments.yml
Due: none
