Repository jamrod/ssm-tool: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deploy-ssm-paramter-tool

lint:
  stage: lint
  script:
  - bash ci/lint/lint-project.sh
  tags:
  - ami-builder-dev
  artifacts:
    paths:
    - ci/lint/output/lint-output.txt
  allow_failure: false

deploy-ssm-paramter-tool:
  before_script:
  - eval "$(aws sts assume-role --role-arn ${ROLE_ARN} --duration-seconds 3600 --role-session-name "CI-${CI_COMMIT_SHA}" | jq -r '.Credentials|@sh "aws_secret=\(.SecretAccessKey) aws_session=\(.SessionToken) expiration=\(.Expiration) aws_key=\(.AccessKeyId)"')"
  ...

Pcm 2461
  README.md
  ci/test/events/create.json
  lambdas/ssm_parameter_tool/ssm_parameter_tool.py
Due: lint, deploy-ssm-paramter-tool

Pcm 2639
  .gitlab-ci.yml
  README.md
  jobs/update.json
  scripts/run-job.sh
  scripts/sample.txt
Due: none

make invalid non-breaking
  jobs/parameter_tool/delete0.json
  jobs/parameter_tool/delete1.json
  jobs/update.json
  lambdas/ssm_parameter_tool/ssm_parameter_tool.py
  scripts/run-job.sh
Due: lint, deploy-ssm-paramter-tool

jobs
  jobs/parameter_tool/delete0.json
  jobs/parameter_tool/delete1.json
Due: none

delete pcs params
  .gitlab-ci.yml
  jobs/parameter_tool/delete.json
  jobs/parameter_tool/delete0.json
Due: none

delete pcs params
  .gitlab-ci.yml
  jobs/parameter_tool/delete0.json
Due: none

fix account
  jobs/parameter_tool/delete.json
  scripts/run-job.sh
Due: none

fixed run-job, improved error handling
  layers/utilities/aws/s3_utilities.py
  layers/utilities/requirements.txt
  scripts/run-job.sh
Due: lint

Add SSM Document Deploy capability and run SSM Document document code - not finalized
  .DS_Store
  .gitlab-ci.yml
  .pylintrc
  README.md
  app.py
  ci/build/build.sh
  ci/deploy/deploy.sh
  ci/test/events/document/run_document.json
  documents/CrowdStrikeFalconInstall-dnf.json
  documents/CrowdStrikeFalconInstall-ubuntu.json
  documents/CrowdStrikeFalconInstall-windows.json
  documents/CrowdStrikeFalconInstall-yum.json
  infrastructure/ssm_deploy_document_stack.py
  infrastructure/ssm_run_document_stack.py
  infrastructure/ssm_shared_layer.py
  jobs/parameter_tool/delete.json
  jobs/parameter_tool/sample.txt
  lambdas/ssm_deploy_document_tool/__init__.py
  lambdas/ssm_deploy_document_tool/ssm_deploy_document_tool.py
  lambdas/ssm_parameter_tool/ssm_parameter_tool.py
  lambdas/ssm_run_document/__init__.py
  lambdas/ssm_run_document/ssm_run_document.py
  layers/utilities/aws/s3_utilities.py
  layers/utilities/aws/ssm_utilities.py
  layers/utilities/aws/step_function_utilities.py
  layers/utilities/requirements.txt
  requirements-dev.txt
  requirements.txt
  scripts/create_update_document.py
  scripts/install_crowdstrike.py
  scripts/run-parameter-job.sh
  scripts/start_state_machine.py
  scripts/upload_documents.sh
  stage_parameters.json
Due: lint, deploy-ssm-paramter-tool

readme updates
  README.md
  lambdas/ssm_run_document/ssm_run_document.py
Due: lint

linting
  lambdas/ssm_deploy_document_tool/ssm_deploy_document_tool.py
Due: lint

test get_accounts
  .gitlab-ci.yml
  scripts/start_state_machine.py
Due: none

$
  .gitlab-ci.yml
Due: none

try again
  .gitlab-ci.yml
  scripts/start_state_machine.py
Due: none

try no path
  .gitlab-ci.yml
Due: none

try path
  .gitlab-ci.yml
  scripts/start_state_machine.py
Due: none

stop from running
  .gitlab-ci.yml
Due: none

update windows crowdstrike doc
  documents/CrowdStrikeFalconInstall-windows.json
Due: none

test get_accounts
  .gitlab-ci.yml
Due: none

test get_accounts again
  .gitlab-ci.yml
Due: none

test with jq
  .gitlab-ci.yml
Due: none

test get_accounts again again
  .gitlab-ci.yml
Due: none

fix account var
  .gitlab-ci.yml
Due: none

share accounts limit to 20
  layers/utilities/aws/ssm_utilities.py
Due: none

updated pipeline
  .gitlab-ci.yml
  documents/CrowdStrikeFalconInstall-dnf.json
  layers/utilities/aws/ssm_utilities.py
Due: none

check state machine status
  .gitlab-ci.yml
Due: none

updated ssm docs
  documents/CrowdStrikeFalconInstall-dnf.json
  documents/CrowdStrikeFalconInstall-ubuntu.json
  documents/CrowdStrikeFalconInstall-yum.json
Due: none

change role to accomodate non-self-assuming
  .gitlab-ci.yml
Due: none

change pipeline to run stages based on variables not 'changes'
  .gitlab-ci.yml
Due: none

change git accounts to run purely from variable
  .gitlab-ci.yml
Due: none

Updated to python 3_11
  .gitlab-ci.yml
  .pylintrc
  README.md
  app.py
  ci/build/build.sh
  ci/deploy/deploy.sh
  ci/test/events/create.json
  ci/test/events/fix_tags.json
  ci/test/events/update.json
  infrastructure/ssm_deploy_document_stack.py
  infrastructure/ssm_parameter_tool_stack.py
  infrastructure/ssm_run_document_stack.py
  infrastructure/ssm_shared_layer.py
  jobs/parameter_tool/test.json
  lambdas/ssm_parameter_tool/requirements.txt
  layers/utilities/aws/boto3_utilities.py
  layers/utilities/aws/ssm_utilities.py
  layers/utilities/requirements.txt
  requirements.txt
  setup.cfg
  stage_parameters.json
Due: lint, deploy-ssm-paramter-tool

Add PCM-QualysInstall-Linux and -Windows, bump python to 3_13
  .gitignore
  documents/PCM-QualysInstall-Linux.json
  documents/PCM-QualysInstall-Windows.json
  infrastructure/ssm_deploy_document_stack.py
  infrastructure/ssm_parameter_tool_stack.py
  infrastructure/ssm_run_document_stack.py
  infrastructure/ssm_shared_layer.py
  lambdas/ssm_deploy_document_tool/ssm_deploy_document_tool.py
Due: lint

revert to python3_11, set to deploy documents and get accounts
  .gitlab-ci.yml
  cdk.context.json
  ci/build/build.sh
  infrastructure/ssm_deploy_document_stack.py
  infrastructure/ssm_parameter_tool_stack.py
  infrastructure/ssm_run_document_stack.py
  infrastructure/ssm_shared_layer.py
  package.json
Due: lint

change dev to DEV and prod to PRD in start_state_machine
  scripts/start_state_machine.py
Due: none

remove platformDetails
  documents/PCM-QualysInstall-Linux.json
  documents/PCM-QualysInstall-Windows.json
Due: none

set environment to PRD
  .gitlab-ci.yml
Due: none

trying to standardize PRD and DEV
  scripts/create_update_document.py
  scripts/upload_documents.sh
Due: none

stash
  README.md
Due: none

readme updates
  .gitlab-ci.yml
  README.md
  lambdas/ssm_parameter_tool/ssm_parameter_tool.py
Due: lint, deploy-ssm-paramter-tool

Path conditions:
  lint: any of: infrastructure/*, lambdas/*/*, layers/*/*, app.py, parameter_store.json
  deploy-ssm-paramter-tool: any of: infrastructure/ssm_parameter_tool_stack, lambdas/ssm_parameter_tool/*, layers/*, app.py, parameter_store.json
